h2 {
  text-decoration: underline;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
* {
  box-sizing: border-box;
}

.row {
  margin-left:-5px;
  margin-right:-5px;
  width: 80%;
}

.column {
  float: left;
  width: 30%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.circle {
        border-radius: 50%;
        width: 34px;
        height: 34px;
        padding: 10px;
        color: #000;
        text-align: center;
        font: 32px Arial, sans-serif;
}